body {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #40454a;
    background-color: #f3f4f4;
}

a {
    color: #4268a0;
}

a:active, a:hover {
    outline: 0;
}

a:hover {
    color: #457aa0;
    text-decoration: none;
}

header {
    background: #4268a0;
    padding: 15px 15px;
    margin-bottom: 45px;
    height: 70px;
}

header * {
    vertical-align: -webkit-baseline-middle;
}

.logo {
    color: #fff !important;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
}

.logo img {
    border-radius: 7px;
    height: 25px;
}

.header-new-button {
    padding-top: 5px;
}

.bg-container, .post {
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    margin-bottom: 30px;
}

.bg-container + .bg-container {
    margin-top: 30px;
}

.post {
    margin-bottom: 45px;
    padding: 0 15px;
}

.post-title, #comment-form h2, .comments-head {
    line-height: 1.5;
    margin: 15px 0;
    color: #2f343b;
    font-weight: 700;
}

.post-description {
    font-size: 20px;
    font-weight: 300;
    color: #999;
    letter-spacing: -0.75px;
    line-height: 30px;
    margin: -8px 0 30px 0;
}

.post-description:hover {
    color: #9a9a90;
}

h1.post-description {
    margin-top: 20px;
    font-size: 50px;
}

.post-info, .comment-header {
    position: relative;
    color: #9a9a90;
    padding: 10px 0;
    border-top: 1px solid #e4e4e4;
}

aside .bg-container {
    padding: 30px 0 30px;
}

.aside-heading {
    font-size: 12px;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    color: #9a9a90;
    margin: 0 0 12px 0;
}

span.aside-heading {
    display: inline-block;
    margin-right: 30px;
}

.aside-dropdown {
    border-color: #dfe2e4;
    background: #f3f4f4;
    height: 40px;
    width: 100%;
}

.aside-sortby {
    margin-bottom: 30px;
}

#categories ul {
    list-style: none;
    padding: 0;
    background-color: #f3f4f4;
    border: 1px solid #dfe2e4;
    border-radius: 3px;
}

#categories ul li a {
    padding: 15px 20px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #dfe2e4;
}

#categories ul li a:after, #categories ul li a.active:before {
    position: absolute;
    content: "\e080";
    font-weight: 400;
    color: #c6c7c2;
    right: 20px;
    font-family: "Glyphicons Halflings";
}

.vote-widget > [class*=glyphicon-arrow] {
    padding: 5px 8px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 11px;
}

.vote-widget > .glyphicon-arrow-up {
    background: green;
    margin-right: 11.5%;
}

.vote-widget > .glyphicon-arrow-down {
    background: red;
    margin-left: 11.5%;
}

.post-content {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.65;
    color: #40454a;
}

.post-page-container .post-info {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
}

.app-form {
    margin-bottom: 30px;
}

.app-form select, .app-form textarea, .app-form input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    background: #f8f9fa;
    color: #555;
    outline: 0;
}

.app-form input {
    margin-bottom: 30px;
    height: auto;
}

.app-form textarea {
    margin-bottom: 15px;
    height: auto;
}

.app-form select {
    height: 42px;
}

.comments-head {
    font-size: 20px;
}

#comments h3 {
    text-align: center;
    padding: 40px 0;
    color: #bbb7b7;
}

div#comments {
    margin: 0 0 50px;
}

.comment-item {
    border: 1px solid #eee;
    color: #717171;
}

.comment-body {
    padding: 20px 0;
    font-size: 15px;
}

.comment-header {
    border-top: 0;
    border-bottom: 1px solid #e1e1e1;
    background: #f8f9fa;
}

.inline-icons {
    font-size: 19px;
    color: #879fc3;
    margin: 0 12px 0 0;
    cursor: pointer;
    line-height: 19px;
}

.inline-icons:hover {
    color: #5e718e;
}

.inline-icons-wrap {
    padding-right: 0;
}

.inline-icons:last-child {
    margin: 0;
}

.comments-head .fa {
    margin-right: 10px;
    display: inline-block;
}

.comment-item + .comment-item {
    margin-top: 20px;
}

.app-form-error {
    padding: 10px;
    background: #d85050;
    margin: 0 0 10px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 1px red;
}

.comment-body form > div + div {
    margin-top: 15px;
}

.comment-body form .btn.btn-default {
    margin-left: 10px;
}

textarea.form-control {
    resize: vertical;
    border-color: #e0e0e0;
    background: #f8f9fa;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
}

.app-form-edit-error {
    color: red;
}

.post-info .inline-icons {
    margin: 0 15px 0 0;
}

.post-info .col-md-3 {
    width: 20%;
}

.post-action-buttons .btn {
    line-height: 1.7;
    padding: 1px 7px;
    margin-right: 15%;
}

.post-action-buttons .btn:last-child {
    margin-right: 0 !important;
}

#posts .post-action-buttons .btn {
    margin-right: 11%;
}

#categories ul li a.active {
    background: #4268a0;
    color: #fff;
    border-color: #4268a0;
    padding-left: 25px;
}

#categories ul li a.active:before {
    left: 20px;
    right: auto;
}

#categories ul li a.active::after {
    display: none;
}

.post-form-container {
    padding-right: 25px;
    padding-left: 25px;
}

.post-form-container .app-form {
    margin-top: 20px;
}

.post-page-container .post-title {
    font-size: 36px;
}


.post-page-container .post {
    margin: 0;
    border: 0;
}


.post .app-form input, .post .app-form textarea {
    margin: 2px;
    border: 1px solid #f3f4f4;
}

.post .app-form input {
    font-size: 19px;
}

.post .app-form {
    margin: 20px 0 10px;
}

.post .app-form .buttons-wrap {text-align: right;}

.post .app-form .buttons-wrap .btn-default {
    margin-left: 10px;
}


.posts-placeholder {
    text-align: center;
    padding: 150px 0;
}